*{
    margin: 0;
    padding: 0;
    font-family: Constantia, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #333;
    
}

.container {
    min-width: 600px;
    position: relative;
    text-align: center;
}

h1, h2 {
    color: red;
    text-align: center;
    margin: 10px;
    font-size: 30px;
}
h2 {
    font-size: 20px;
    color: rgb(207, 47, 47);
}


.header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-color: rgba(51, 51, 51, 0.8);
   
}
.movies_select {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 250px;
    height: 30px;
    background-color: rgba(76, 120, 162, .7);
    cursor: pointer;
    border: none;
    font-size: 16px;
    z-index: 5;
}

option {
    background-color: rgba(89, 97, 105, 0.7);
}
.wrapper {
    position: relative;
    top: 180px;
    display: flex;    
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.center{
    position: relative;
    margin: 15px;  
}

.card{
    cursor: pointer;
    width: 340px;
    height: 480px;    
}

.front,
.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    text-align: center;
}

.front img{
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #f1f1f1;
}

.back-content{
    width: 100%;
    text-align: center;
    color: #333333;
}

h2{
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: left;
}

.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}